:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
  .main-container {
    overflow: hidden;
  }
  
  .main-container,
  .main-container * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .main-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    position: relative;
    width: 1280px;
    height: 88px;
    margin: 0 auto;
    padding: 32px 32px 32px 32px;
    background: #f1e4ff;
    border-top: 1px solid #d9d9d9;
    overflow: hidden;
  }
  .bem-mental {
    position: relative;
    width: 184px;
    height: 58px;
    background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-05-04/xYeT6WX2do.png)
      no-repeat center;
    background-size: cover;
  }
  .header-auth {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 12px;
    position: absolute;
    width: 175px;
    height: 39px;
    top: 31px;
    left: 1073px;
    z-index: 1;
  }
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 8px;
    position: absolute;
    width: 67px;
    height: 32px;
    top: 4px;
    left: 0;
    padding: 8px 8px 8px 8px;
    background: #ffffff;
    border: 1px solid rgba(109, 9, 181, 0.94);
    z-index: 4;
    overflow: hidden;
    border-radius: 8px;
  }
  .button-enter {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 16px;
    color: rgba(109, 9, 181, 0.94);
    font-family: Quicksand, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    white-space: nowrap;
    z-index: 5;
  }
  .button-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 8px;
    position: absolute;
    width: 84px;
    height: 32px;
    top: 4px;
    left: 91px;
    padding: 8px 8px 8px 8px;
    background: #ffffff;
    border: 1px solid rgba(109, 9, 181, 0.94);
    z-index: 2;
    overflow: hidden;
    border-radius: 8px;
  }
  .button-register {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 16px;
    color: rgba(109, 9, 181, 0.94);
    font-family: Quicksand, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    white-space: nowrap;
    z-index: 3;
  }
  .exclude {
    position: absolute;
    width: 256.116px;
    height: 18.78px;
    top: 44px;
    left: 777px;
    background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-05-04/xUHZwyY17B.png)
      no-repeat center;
    background-size: cover;
    z-index: 6;
  }
  